.outer_div{
    display: flex;
    padding: 3% 10% 3% 10%;
}

.trainer_details{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    text-align: left;
}

.socialmediaicons a{
    color: black;
}